/*****************************************************************************************
Style Sheet
BCCA Cancer Research Centre
Safety Training Database and Website
/*****************************************************************************************/

BODY {
	FONT-FAMILY: Rockwell Condensed, Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-SIZE: x-large;
	LINE-HEIGHT: 110%;
	color : #000000;
}

A:active {
    text-decoration: underline;
}

A:link {
	COLOR: #000000;
}

A:unknown {
	COLOR: #000000;
}

A:hover {
	COLOR: #000000;
	text-decoration:none;
}

A:visited{
	COLOR: #000000;
}

H1 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #000000;
}

H2 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #000000;
}

H3 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #000000;
}

H4 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #000000;
}

H5 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #000000;
}

H6 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #000000;
}

/*****************************************************************************************
Incident Reporting
/*****************************************************************************************/


/*****************************************************************************************
Manuals
/*****************************************************************************************/


/*****************************************************************************************
Training
/*****************************************************************************************/


/*****************************************************************************************
Workplace Inspections - Lab Area
/*****************************************************************************************/


/*****************************************************************************************
Workplace Inspections - Office Area
/*****************************************************************************************/

